.About{
    width: 100%;
    min-height: calc(100vh - 85.33px);
    background-color: black;
    background-color: #100f0f;
    display: flex;
    align-items: center;
    padding: 0 20px;
    // border: 1px solid red;
    // margin: 75px 0;

    

    .container{        width: 1352px;
        max-width: 100%;
        margin: 0 auto;
        // border: 1px solid red;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 0 0px;
        z-index: 22;
        padding: 0 20px;
              gap: 50px;

    }

    .description{
        width: 672px;
        max-width: 100%;
        min-height: 428px;
        // margin: 0 150px;
        // border: 1px solid white;
        // padding: 0 10px;

        .title{
        font-size: 30px;
        }
        
        .red{
            color: red;
        }

        // h2{
        //     font-size: 60px;
        // }

        p{

            margin: 15px 0;
        }
    }

    .experience{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
        gap: 0 10px;

        div{
          width: 100%;
          
        }

        li{
            list-style: none;
            display: flex;
            align-items: center;
            margin: 10px 0;
            min-height: 40px;
        }
        
        svg{
            background-color: #EC131333;
            border-radius: 50%;
            color: red;
            width: 20px;
            height: 20px;
            margin-right: 7px;
            flex-shrink: 0;
        }

        span{
            font-size: 18px;
        }
        

        
    }

    // .card{

    //     img{
    //         width: 642px;
    //         height: 642px;
    //         object-fit: contain;
    //         object-fit: scale-down ;
    //         display: none;
    //     }


    // }
}

.card {
  aspect-ratio: 1 / 1;
  position: relative;

  background-color: #0f0f0f;       // bg-card equivalent
  border: 1px solid #2a2a2a;       // border-border equivalent
  border-radius: 0.5rem;           // rounded-lg
  overflow: hidden;
  width: 642px;
  max-width: 50%;
  // height: 642px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      to bottom right,
      rgba(196, 22, 28, 0.1),       // from-primary/10
      transparent                  // to-transparent
    );

    pointer-events: none;
  }

  .circle1, .circle2{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 1px solid #EC131333;
    position: absolute;
  }

  .circle1{
    top: 40px;
    left: 40px;
  }

  .circle2{
    bottom: 40px;
    right: 40px;
  }

  .cardTitle{
    text-align: center;

    h3{
        font-size: 128px;
        color: #EC131333;
        // border: 1px solid red;
    }

    p{
        font-size: 30px;
        color: #afafaf;
        display: block;
    }
    
  }
}

@media (max-width: 1130px){

  .About{

    .container{
      flex-direction: column;
    }

    .description{
      width: 100%;
    }
  }

  .card{
    max-width: 75%;
  }
}

@media (max-width: 768px){

  .About{
    margin: 75px 0;
        min-height: calc(100vh - 80px);


    .experience{

      li{
        min-height: 62px;
      }
    }



  }

}

@media (max-width: 768px){

  .About{



  }

}

@media (max-width: 450px){

  .About{
        .experience{
          flex-direction: column;
          




          li{
            width: 100%;
            min-height: unset;
            gap: 0 10px;
          }
    }

      .cardTitle{
    h3{
        font-size: 86px;
    }
    
  }
  }

}


