.Btn{
    // background-color: #D87D4A;
    // color: white;
    font-size: 17px;
    font-weight:500;
    width: 236px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1.5px solid #A6A6A6;
    // border: none;
    
    color: white;
    text-decoration: none;

    font-weight: bold;
    cursor: pointer;

    border-radius: 8px;
}



@media (min-width: 769px){

    .Btn{
        // box-shadow: 5px 5px #000000;
        transition: 0.2s ;

        &:hover{
            // box-shadow: unset;
            // transition: 0.2s ;
            scale: (1.05);
        }

        
    }

}

