.ContactSection{
    width: 100%;
    min-height:calc(100vh - 85.33px);
    display: flex;
    align-items: center;
    position: relative;
    // background-color: #100f0f;
    padding: 0 20px;
    padding: 40px 20px;
    // border-top: 1px solid #f9710b;
    // margin: 20px 0 0 0;
    // border: 1px solid red;

//       background: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0) 0%,
//     rgba(255, 95, 45, 0.55) 45%,
//     rgba(255, 95, 45, 0.55) 55%,
//     rgba(0, 0, 0, 0) 100%
//   );

//   background: linear-gradient(
//     to bottom,
//     rgba(0, 0, 0, 0) 0%,
//     rgba(255, 140, 95, 0.22) 40%,
//     rgba(255, 140, 95, 0.22) 60%,
//     rgba(0, 0, 0, 0) 100%
//   );

          background-color: hsl(30 40% 95%);
  background-color: #ecf0f3;






//     .card {
//   aspect-ratio: 1 / 1;
//   position: absolute;

//   background-color: #0f0f0f;       // bg-card equivalent
//   border: 1px solid #2a2a2a;       // border-border equivalent
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   &::before {
//     content: "";
//     position: absolute;
//     inset: 0;

//     background: linear-gradient(
//       to bottom right,
//       rgba(196, 22, 28, 0.097),       // from-primary/10
//       transparent                  // to-transparent
//     );

//     pointer-events: none;
//   }
// }

.container{
    position: relative;
    // border: 1px solid red;
    width: 100%;
    min-height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro{
    text-align: center;
    // margin: 100px 0 0 0;
    margin: 20px 0 50px 0;
    // border: 1px solid red;
}

        .red{
            color: red;
            color: #f9720be6;
        }

        h2{
            // font-size: 60px;
            margin: 35px 0 0 0;
            color: black;
        }

        h3{
                font-size: 24px;
                // color: black;
            }
    
    .subContainer{
        width: 1352px;
        width: 1000px;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        // display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 20px;
        z-index: 22;
        // border: 1px solid red;

        // flex-direction: column;

        .offers{
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;

            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            // padding: 20px;
                    // border: 1px solid red;

            // > :first-child{
            //     margin: 0 0 25px 0;
            // }
        }

        .pLocationPinSVG{
            // display: flex;
            // align-items: center;
            // justify-content: center;
            gap: 0 3px;
            border-top: 1px solid #d4d4d3;
            padding: 15px 0 0 0;
            color: #f9710b;
            text-decoration: none;
            

            svg{
                color: #f9710b;
            width: 20px;
            height: 20px;
            // background-color: red;
            }
        }


                .cornerGradient {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;   // w-24
  height: 100px;  // h-24
  border-radius: 7px;
//   border: 1px solid red;

  background: linear-gradient(
    to bottom left,
    rgba(249, 114, 11, 0.09),  // from-primary/5
    rgba(249, 113, 11, 0.0)    // to-transparent
  );
}


        .offer{
margin: 0 0 25px 0;

            min-width: 381px;
            min-width: 345px;
            width: 48.5%;
            min-height: 380px;
            position: relative;


            max-width: 100%;
            display: flex;
            // justify-content: space-evenly;
            // justify-content: center;
            // align-items: center;
            text-align: center;
            // text-align: justify;
            flex-direction: column;
            gap: 30px 20px;
            background-color: white;
            // background-color: rgba(255, 255, 255, 0.723);
            // border: 1px solid #f9710b;
            border: 1px solid #4d4d4d;
                                    border: 1px solid #d4d4d3;

            // box-shadow: 5px 5px  #000000cf;
            // outline: none;
            // border: none;
            
            border-radius: 10px;
            padding: 20px;
            // margin: 25px 0;
                            // letter-spacing: 1px;
                            
                            line-height: 17px;
                            line-height: 25px;


            .title{
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
                flex-direction: column;
            }
            

            .logo{
                color: red;
                background-color: #ec13131A;
                background-color: #fcefe6;
                color: #f9710b;
                width: 50px;
                height: 50px;
                // margin: 0 10px 0 0;
                border-radius: 50%;
                padding: 7px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .secondTitleP{
                                //         border: 1px solid #d4d4d3;

                                // background-color: #fff8f2;
                                width: 90%;
                                margin: 0 auto;
                                padding: 10px;
                                border-bottom: 1px solid #d4d4d3;
            }

            .orange{
                color: #f9710b;
            }

            ul{
                display: flex;
                // border: 1px solid red;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0 20px;
                margin: 0 0 0 1.9%;
                width: 100%;
                width: 85%;
                // border: 1px solid red;
                margin: 0 auto;
                text-align: start;
                // gap: 10px 0;
                text-align: center;
                
                // list-style: none;

            }

            li{
                // border: 1px solid red;
                width: 100%;
                margin: 5px 0;
                // border: 1px solid red;
                        // background-color: #fff8f2;
                        border-radius: 7px;
                        text-align: start;
                        // border: 1px solid #d4d4d3;

                        //         background-color: #fff8f2;
        padding: 10px;
        // display: flex;
        // align-items: center;
        // gap: 0 5px;
        //     border-radius: 7px;
        //     border: 1px solid #d4d4d3;
        list-style-position: outside;


            }
        }


        ul{
            margin: 20px 0 0 1.9%;
        }
        

        li{
            list-style-position: inside;
            margin: 15px 0;
            font-size: 17px;
            // color: black;
        }

        li::marker {
        color: red;
        color: #f9710b;
        
        }

        .contact{
            width: 644px;
            min-height: 500px;
            min-height: 300px;
            width: 100%;
            // background-color: rgb(15,15,15);
            background-color: white;
            // background-color: rgba(255, 255, 255, 0.723);
                        // box-shadow: 5px 5px  #4d4d4d3a;
                                    // box-shadow: 5px 5px  #000000cf;


            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;
            // justify-content: space-between;
            // // border: 1px solid #2a2a2a;
            // // border: 1px solid #f9710b;
            border: 1px solid #4d4d4d;
                                    border: 1px solid #d4d4d3;

            // border-right: none;
            // border-bottom: none;
            padding: 20px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            gap: 25px;
            

            .details{
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: space-around;
                min-height: 110px;
                // border: 1px solid red;
                //  border: 1px solid #4d4d4d;
                gap: 5px;
                flex-direction: column;
                min-width: 45%;

                // p{
                //     margin: 3px 0;
                // }

                
            }

            svg{
                color: red;
                background-color: #ec13131A;
                background-color: #fcefe6;
                color: #f9710b;
                width: 40px;
                height: 40px;
                // margin: 0 10px 0 0;
                border-radius: 50%;
                padding: 5px;
                flex-shrink: 0;
            }

            

            .white{
                color: white;
                color: #f9710b;
                // margin: 3px 0;
                display: block;
                // font-size: 16px;
                word-break: break-word;
                text-decoration: none;
                // border: 1px solid red;
            }
        }




    }
}

@media (max-width: 1050px){
    .ContactSection{

        .subContainer{
            flex-direction: column;


            .intro{
                width: 100%;
            }
            
        

            .contact{
                width: 100%;
                
            }
        }
    }
}

@media (max-width: 768px){
    .ContactSection{
        // margin: 75px 0;
            min-height: calc(100vh - 80px);

            .contact{
                p{
                    font-size: 15px;
                }
            }

            .subContainer{

                .offers{

                    .offer{
                        width: 100%;
                        min-width: unset;
                    }
                }
            }

    }
}

@media (max-width: 480px){
    .ContactSection{


            .subContainer{

                .offers{

                    .offer{
                        padding:60px 0;
                        
                        li{
                            min-height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }
                }
            }

    }
}