.ContactSection{
    width: 100%;
    min-height:calc(100vh - 85.33px);
    display: flex;
    align-items: center;
    position: relative;
    // background-color: #100f0f;
    padding: 0 20px;
    // border-top: 1px solid #f9710b;
    // margin: 20px 0 0 0;





//     .card {
//   aspect-ratio: 1 / 1;
//   position: absolute;

//   background-color: #0f0f0f;       // bg-card equivalent
//   border: 1px solid #2a2a2a;       // border-border equivalent
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   &::before {
//     content: "";
//     position: absolute;
//     inset: 0;

//     background: linear-gradient(
//       to bottom right,
//       rgba(196, 22, 28, 0.097),       // from-primary/10
//       transparent                  // to-transparent
//     );

//     pointer-events: none;
//   }
// }

.container{
    position: relative;
    // border: 1px solid red;
    width: 100%;
    min-height: 681px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro{
    text-align: center;
    margin: 100px 0 0 0;
}

        .red{
            color: red;
            color: #f9710b;
        }

        h2{
            // font-size: 60px;
            margin: 35px 0;
            color: black;
        }

        h3{
                font-size: 24px;
                // color: black;
            }
    
    .subContainer{
        width: 1352px;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 20px;
        z-index: 22;
        // border: 1px solid red;

        .offers{
            width: 100%;
            max-width: 100%;
            // padding: 20px;
                    // border: 1px solid red;

            > :first-child{
                margin: 0 0 25px 0;
            }
        }



        .offer{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            border: 1px solid #f9710b;
            
            border-radius: 10px;
            padding: 20px;
            // margin: 25px 0;

            .title{
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
            }
            

            .logo{
                color: red;
                background-color: #ec13131A;
                background-color: #fcefe6;
                color: #f9710b;
                width: 40px;
                height: 40px;
                // margin: 0 10px 0 0;
                border-radius: 50%;
                padding: 5px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .orange{
                color: #f9710b;
            }

            ul{
                display: flex;
                // border: 1px solid red;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0 20px;
                margin: 0 0 0 1.9%;
                width: 100%;
            }

            li{
                // border: 1px solid red;
                width: 100%;
                margin: 5px 0;
            }
        }


        ul{
            margin: 20px 0 0 1.9%;
        }
        

        li{
            list-style-position: outside;
            margin: 15px 0;
            font-size: 17px;
            // color: black;
        }

        li::marker {
        color: red;
        color: #f9710b;
        }

        .contact{
            width: 644px;
            min-height: 500px;
            width: 100%;
            // background-color: rgb(15,15,15);
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #2a2a2a;
            border: 1px solid #f9710b;
            padding: 20px;
            border-radius: 10px;
            // border: 1px solid red;
            

            .details{
                display: flex;
                align-items: center;
                // border: 1px solid red;
                gap: 0 10px;
            }

            svg{
                color: red;
                background-color: #ec13131A;
                background-color: #fcefe6;
                color: #f9710b;
                width: 40px;
                height: 40px;
                // margin: 0 10px 0 0;
                border-radius: 50%;
                padding: 5px;
                flex-shrink: 0;
            }

            

            .white{
                color: white;
                color: #f9710b;
                margin: 5px 0;
                // font-size: 16px;
                word-break: break-word;
            }
        }




    }
}

@media (max-width: 1050px){
    .ContactSection{

        .subContainer{
            flex-direction: column;


            .intro{
                width: 100%;
            }
            
        

            .contact{
                width: 100%;
                
                border: 1px solid red;
            }
        }
    }
}

@media (max-width: 768px){
    .ContactSection{
        margin: 75px 0;
            min-height: calc(100vh - 80px);

            .contact{
                p{
                    font-size: 15px;
                }
            }

    }
}