.ClientSection{

    // border: 1px solid red;
//     background-color: black;
//  background-color: #100f0f;
background-color: rgb(252, 252, 252);
 padding: 0 20px;
//  border: 1px solid rgb(212, 255, 0);
    

    .container{
            display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 1352px;
        max-width: 100%;
        // border: 1px solid red;
        margin: 0 auto;

        .intro{
            text-align: center;
            margin: 50px 0;

        }

        .red{
            color: red;
            color: #f9710b;
        }



        h2{
            // font-size: 60px;
            margin: 25px 0;
            color: black;
        }


        .gradientOverlay {
            display: none;
                    position: absolute;
                    inset: 0;
                    z-index: 2;

                    background: linear-gradient(
                        to top,
                        #0f0f0f 0%,              /* from-background */
                        rgba(15, 15, 15, 0.2) 50%, /* via-background/20 */
                        transparent 100%         /* to-transparent */
                    );
                    }

                    img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .description{
                    display: none;
                    z-index: 2;
                    position: absolute;
                    bottom: 10px;
                    left: 5%;
                    // border: 1px solid red;
                    // background-color: rgba(0, 0, 0, 0.261);
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: flex-end;
                    // background-color: green;
                }


        //                 <div className={styles.testimonials}>
        //   {testimonials.map((i, n) => (
        //     <div key={n} className={styles.testimony}>
        //       <p>{i.testimony}</p>
              
        //       <div className={styles.clientDetail}>
        //         <p className={styles.ClientInital}>{i.initial}</p>
        //         <div>
        //           <p>{i.name}</p>
        //           <p>{i.sport}</p>
        //         </div>
        //       </div>
        //     </div>
        //   ))}
        // </div>

        .testimonials{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
                        margin: 0 0 50px 0;
                        width: 100%;


            .clientTestimony{
                max-width: 100%;
                width: 420px;
                // background-color: #141414;
                padding: 20px;
                // border: 1px solid #2a2a2a;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                border: 1px solid #604835;
                border: 1px solid red;
                border: 1px solid #4d4d4d;
           }

            svg{
                margin: 0 5px;
                width: 20px;
                height: 20px;
                fill: red;
                fill: #f8cd6e;

                
            }

            .testimony{
                margin: 20px 0;
            }

            .white{
                // color: white;
                // color: black;
            }

            .clientDetail{
                display: flex;
                gap: 10px;

                // border: 1px solid red;

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    :last-child{
                       color: #f9710b;
                    }
                }
            }

            .ClientInitial{
                // color: red;
                // color: #f9710b;
                
                // background-color: #4600001a;

                background-color: #fcefe6;
            color: #f9710b;
                
                border-radius: 50%;
                height: 48px;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        //was clients1
.clients{
            width: 100%,;
            // display: flex;
            // justify-content: space-between;
            // margin: 0 0 50px 0;
            gap: 40px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            //  320px 320px 320px 320px;
            // grid-template-rows: 1fr 1fr;
            // border: 1px solid red;

            
        

            .client{
                position: relative;
                // width: 320px;
                // height: 400px;
                aspect-ratio: 5 / 5;
                // border: 1px solid red;
                border-bottom: 1px solid white;
                // width: 25%;
                width: 100%;
                margin: 0 auto;
                
                border-radius: 7px;

                

                

                

                h3{
                    margin: 7px 0;
                }

                p{
                    z-index: 100;
                    // color: white;
                }

                .title{
                    color: white;
                    display: inline-block;
                    // width: 95px;
                    // height: 25px;
                    background-color: #f9710b;
                    border-radius: 7px;
                    padding: 5px;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    .ClientSection{

        .container{

            //was clients1
.clients{

                // flex-wrap: wrap;
                            grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 1fr 1fr;
                        justify-content: center;

            
                .client{
                    // width: 50%;
                    aspect-ratio: 5/5;
                }


            }
        }
    }
}

@media (max-width: 600px){
    .ClientSection{
        .container{
            //was clients1
.clients{
                grid-template-columns: 1fr;
                .client{
                    aspect-ratio: 5/5;
                }
            }
        }
    }
}