.Footer{
    // border: 1px solid red;

    .container{
        width: 1352px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

            .logo{
        color: white;
        text-align: center;
        letter-spacing: 4px;
        text-decoration: none;

        span{
            font-size: 20px;
            display: block;
        }

        .red{
            color: red;
        }
        }

        ul{
            display: flex;
            width: 600px;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li{
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 15px;
                }
            }
        }

        svg{
                // color: red;
                // background-color: #ec13131A;
                width: 40px;
                height: 40px;
                margin: 0 10px 0 0;
                border-radius: 50%;
                padding: 5px;
                border: 1px solid #2a2a2a;
            }
    }

    .copyright{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 40px 0;
        // border: 1px solid red;

        p{
            
        }
    }
}